<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Movies lists</h1>
    <p>Create yours movies lists</p>
    <%= link_to "Add list", new_list_path, class: "btn btn-flat" %>
  </div>
</div>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list.id) %></li>
  <%end%>

</ul>
